@import '../../common/common';

.home {
  height: calc(100vh - 80px);
  background-color: $accentColor;
  background-image: url($background-url);

  .game-container, form {
    height: 100%;
    display: flex;
  }

  form {

    .form-container {
      background-color: white;
      margin: auto;
      width: 250px;
      height: 250px;
      border: 1px solid #cacaca;
      border-radius: 15px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;

      input, button {
        width: 200px;
        height: 25px;
      }

      button {
        margin-top: 14px;
      }


    }
  }
}
