@import '../common';

.container-game {
  height: calc(100vh - 80px);
  width: 100vw;
  background-color: $accentColor;
  background-image: url($background-url);

  .game {
    max-width: 1000px;
    margin: auto;

    .marker {
      display: flex;
      flex-direction: column;
      font-size: 28px;
      color: white;
      padding: 20px 64px;
    }

    .grid-game {
      padding: 64px;
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
    }
  }
}
